<% provide :title, "Home" %>

<!DOCTYPE html>
<html>
<head>
  <STYLE type="text/css">
  body{
  background: url('https://img5.goodfon.com/original/1366x768/2/9f/more-bereg-pliazh-utro.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
h1 {
  text-align: center;
}
 </STYLE>

  <title>Login Page</title>
  <%= stylesheet_link_tag "home" %>
</head>
<body class="static_pages-home">
<br>
<br>
 <h1 class="font-weight-light">Report Daily Systems</h1>
 <div class="container emp-profile">
     
      <h1 >Nguyễn Thị Minh Chính </h1>
      <h1 >Đậu Thị Thùy</h1>
      <h1 >Ngô Thị Anh Thư </h1>
      <h1 >Thái Nguyễn Thùy Trang</h1>
      <h1 >Lê Thị Hải Vân</h1>
      <h1 >Võ Thị Bảo Yến</h1>
   
    

</div>
</body>
</html>

