<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new request from <%= @request.user.name %> </p>
    <%= link_to "View detail request",  @request %>
  </body>
</html>