 <%provide(:title,'Sent Request')%> 

 <!DOCTYPE html>
 <html>
 <head>
 </head>
 <body>
  <div class="container">
    <div class="container emp-profile">
      <section class="micropost_form"> 
        <% if current_user.is_admin || current_user %>
        <ol class="microposts">
          <%= render @request  %>  
       
       <%= link_to 'Disagree', approve_disagree_path(@request), method: :post, class: 'btn btn-mini btn-danger'  %>
        <%= link_to 'Agree', approve_agree_path(@request), method: :post, class: 'btn btn-mini btn-primary'  %>
      
        <% end %>
      </section>
    </div>
  </div>
</body>

</html>


